<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta property="og:url" content="https://sarchart.dotsuresh.com" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="SARchart" />
        <meta property="og:description" content="Impressive charts for SAR output" />
        <meta property="og:image" content="https://sarchart.dotsuresh.com/images/sarchart-logo18.png" />
        <title>SARChart</title>
        <link rel="icon" href="/images/sarchart-logo18.png"  sizes="any" type="image/png">
        
        <link rel="stylesheet" type="text/css" href="/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
        <link rel="stylesheet" type="text/css" href="/css/sarchart-v5.1.3.min.css">
    </head>
<body>
    <div class="wrapper">
       {{>sidebar}}
       {{>content}}
    </div>

    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/popper.min.js"></script>    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/highcharts.min.js"></script>
    <script src="/js/exporting.js"></script>
    <script src="/js/offline-exporting.js"></script>
    <script src="/js/sarchart-v5.1.3.min.js"></script> 
    
</body>
</html>