<section class="sidebar">
<!--
    <div class="background blue-purple"></div>
<div class="background green-blue"></div>
-->
<!--
    <div class="user-panel">
        <div class="pull-left image">
            <img src="img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>Alexander Pierce</p>
            <a href="#">
                <i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </form>
-->
    <ul class="sidebar-menu" lte-treeview>
<!--        <li class="header">MAIN NAVIGATION</li>-->
<!--        <li class="treeview" lte-treeview active="$ctrl.$state.includes('dashboard')">-->
        <li class="treeview">
            <a ui-sref="dashboard.v1" lte-treeview-title icon="fa fa-home" header="Dashboard">&shy;</a>
<!--
            <ul class="treeview-menu" lte-treeview-menu>
                <li ui-sref-active="active">
                    <a ui-sref="dashboard.v1">
                        <i class="fa fa-circle-o"></i> Dashboard v1</a>
                </li>
                <li ui-sref-active="active">
                    <a href="../../index2.html">
                        <i class="fa fa-circle-o"></i> Dashboard v2</a>
                </li>
            </ul>
-->
        </li>
        <li class="treeview" lte-treeview>
            <a lte-treeview-title icon="fa fa-table" header="CPU">
<!--                <span class="label label-primary pull-right">4</span>-->
            </a>
            <ul class="treeview-menu" lte-treeview-menu>
                <li>
                    <a href="../layout/top-nav.html">
                        <i class="fa fa-circle-o"></i> Top Navigation</a>
                </li>
                <li>
                    <a href="../layout/boxed.html">
                        <i class="fa fa-circle-o"></i> Boxed</a>
                </li>
                <li>
                    <a href="../layout/fixed.html">
                        <i class="fa fa-circle-o"></i> Fixed</a>
                </li>
                <li>
                    <a href="../layout/collapsed-sidebar.html">
                        <i class="fa fa-circle-o"></i> Collapsed Sidebar</a>
                </li>
            </ul>
        </li>
        <li class="treeview" lte-treeview active="$ctrl.$state.includes('widgets')">
            <a ui-sref="dashboard.v2" lte-treeview-title icon="fa fa-database" header="Devices">
<!--                <small class="label pull-right bg-green">new</small>-->
            </a>
        </li>
        <li class="treeview" lte-treeview>
            <a lte-treeview-title icon="fa fa-road" header="Interface Traffic">
            </a>
            <ul class="treeview-menu" lte-treeview-menu>
                <li>
                    <a href="../charts/chartjs.html">
                        <i class="fa fa-circle-o"></i> ChartJS</a>
                </li>
                <li>
                    <a href="../charts/morris.html">
                        <i class="fa fa-circle-o"></i> Morris</a>
                </li>
                <li>
                    <a href="../charts/flot.html">
                        <i class="fa fa-circle-o"></i> Flot</a>
                </li>
                <li>
                    <a href="../charts/inline.html">
                        <i class="fa fa-circle-o"></i> Inline charts</a>
                </li>
            </ul>
        </li>
        <li class="treeview" lte-treeview>
            <a lte-treeview-title icon="fa fa-chain-broken" header="Interface Errors">
            </a>
            <ul class="treeview-menu" lte-treeview-menu>
                <li>
                    <a href="general.html">
                        <i class="fa fa-circle-o"></i> General</a>
                </li>
                <li>
                    <a href="icons.html">
                        <i class="fa fa-circle-o"></i> Icons</a>
                </li>
                <li>
                    <a href="buttons.html">
                        <i class="fa fa-circle-o"></i> Buttons</a>
                </li>
                <li>
                    <a href="sliders.html">
                        <i class="fa fa-circle-o"></i> Sliders</a>
                </li>
                <li>
                    <a href="timeline.html">
                        <i class="fa fa-circle-o"></i> Timeline</a>
                </li>
                <li>
                    <a href="modals.html">
                        <i class="fa fa-circle-o"></i> Modals</a>
                </li>
            </ul>
        </li>
        <li class="treeview" lte-treeview active="$ctrl.$state.includes('forms')">
            <a lte-treeview-title icon="fa fa-sitemap" header="Processes">
            </a>
            <ul class="treeview-menu" lte-treeview-menu>
                <li ui-sref-active="active">
                    <a ui-sref="forms.general-elements">
                        <i class="fa fa-circle-o"></i> Processes</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="forms.advanced">
                        <i class="fa fa-circle-o"></i> Swapping</a>
                </li>
            </ul>
        </li>
        <li class="treeview" lte-treeview active="$ctrl.$state.includes('tables')">
            <a lte-treeview-title icon="fa fa-file" header="Paging Activity">
            </a>
            <ul class="treeview-menu" lte-treeview-menu>
                <li ui-sref-active="active">
                    <a ui-sref="tables.simple-tables">
                        <i class="fa fa-circle-o"></i> Simple tables</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="tables.data-tables">
                        <i class="fa fa-circle-o"></i> Data tables</a>
                </li>
            </ul>
        </li>
        <li class="treeview" lte-treeview>
            <a lte-treeview-title icon="fa fa-retweet" header="IO">
<!--
                <small class="label pull-right bg-red">3</small>
                <small class="label pull-right bg-blue">17</small>
-->
            </a>
        </li>
        <li class="treeview" lte-treeview>
            <a lte-treeview-title icon="fa fa-file-text" header="Page">
<!--
                <small class="label pull-right bg-yellow">12</small>
                <small class="label pull-right bg-green">16</small>
                <small class="label pull-right bg-red">5</small>
-->
            </a>
        </li>
        <li class="treeview" lte-treeview>
            <a lte-treeview-title icon="fa fa-cloud" header="Memory">
            </a>
            <ul class="treeview-menu" lte-treeview-menu>
                <li>
                    <a href="../examples/invoice.html">
                        <i class="fa fa-circle-o"></i> Memory Usage</a>
                </li>
                <li>
                    <a href="../examples/profile.html">
                        <i class="fa fa-circle-o"></i> Memory Misc</a>
                </li>
                <li>
                    <a href="../examples/login.html">
                        <i class="fa fa-circle-o"></i> Swap Usage</a>
                </li>
            </ul>
        </li>
        <li class="treeview" lte-treeview>
            <a lte-treeview-title icon="fa fa-truck" header="Load">
            </a>
            <ul class="treeview-menu" lte-treeview-menu>
                <li>
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Level One</a>
                </li>
                <li lte-treeview>
                    <a lte-treeview-title icon="fa fa-circle-o" header="Level One">
                    </a>
                    <ul class="treeview-menu" lte-treeview-menu>
                        <li>
                            <a href="#">
                                <i class="fa fa-circle-o"></i> Level Two</a>
                        </li>
                        <li lte-treeview>
                            <a lte-treeview-title icon="fa fa-circle-o" header="Level Two">
                            </a>
                            <ul class="treeview-menu" lte-treeview-menu>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i> Level Three</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-circle-o"></i> Level Three</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-circle-o"></i> Level One</a>
                </li>
            </ul>
        </li>

        <li class="treeview" lte-treeview>
            <a lte-treeview-title icon="fa fa-link" header="NFS">
            </a>
            <ul class="treeview-menu" lte-treeview-menu>
                <li>
                    <a href="../examples/invoice.html">
                        <i class="fa fa-circle-o"></i> NFS Client</a>
                </li>
                <li>
                    <a href="../examples/profile.html">
                        <i class="fa fa-circle-o"></i> NFS Server</a>
                </li>
            </ul>
        </li>

        <li class="treeview" lte-treeview>
            <a lte-treeview-title icon="fa fa-plug" header="Sockets">&shy;</a>
        </li>
<!--
        <li class="header">LABELS</li>
        <li class="treeview">
            <a lte-treeview-title icon="fa fa-circle-o text-red" header="Important">&shy;</a>
        </li>
        <li class="treeview">
            <a lte-treeview-title icon="fa fa-circle-o text-yellow" header="Warning">&shy;</a>
        </li>
        <li class="treeview">
            <a lte-treeview-title icon="fa fa-circle-o text-aqua" header="Information">&shy;</a>
        </li>
-->
    </ul>
</section>
